:local(.circleContainer) {
  max-width: 700px;
  margin: 0 auto;

  margin-top: 60px;
	@media (min-width: $media-breakpoint-md) {
		margin-top: 150px;
	}
	@media (min-width: $media-breakpoint-xxl) {
		margin-top: 180px;
	}
}

:local(.popOverTitleDetail) {
    min-width: 90px;
    margin-right: 40px;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;

    .logo {
      height: 84px;
    }
    
    img {
      text-align: center;
      width: 90px;
    }

    h3 {
      text-align: center;
      padding-top: 5px;
    }
}