:target {
    scroll-margin-top: 80px
}

body:global(.dark-mode) {
    .ecssSection {
        h6 {
            color: $color-black !important;
        }
        ul  {
            li {
                a {
                    color: $color-brand !important;
                }
            }
        }
    }
}