@font-face {
	font-family: 'DIN Next LT W23 Light';
	src: url('../assets/fonts/77774782-4fa3-441a-bd91-702d88ef6e2d.eot?#iefix');
	src: url('../assets/fonts/77774782-4fa3-441a-bd91-702d88ef6e2d.eot?#iefix') format('eot'), url('../assets/fonts/e95f4720-52e6-4076-afe1-1adb1592bfdc.woff2') format('woff2'),
		url('../assets/fonts/0ab2eaf2-c728-4d1b-ae19-53aa13d5a213.woff') format('woff'), url('../assets/fonts/f33821f7-e0bf-48e9-b084-b195190e3870.ttf') format('truetype');
	font-display: swap;	
}
@font-face {
	font-family: 'DIN Next LT W23';
	src: url('../assets/fonts/644ad789-1663-4740-a778-649cfad3951a.eot?#iefix');
	src: url('../assets/fonts/644ad789-1663-4740-a778-649cfad3951a.eot?#iefix') format('eot'), url('../assets/fonts/c6c7dd26-fbc9-4da1-81e1-6958e1d970d1.woff2') format('woff2'),
		url('../assets/fonts/b53d284e-baaa-45fe-a2d9-9ed3d364834f.woff') format('woff'), url('../assets/fonts/decc2f6c-155a-4101-aaa9-e8570711af71.ttf') format('truetype');
	font-display: swap;	
}
@font-face {
	font-family: 'DIN Next LT W23 Medium_893519';
	src: url('../assets/fonts/6e7f8ec5-ab54-4a5f-bb89-ef815c6a6e14.eot?#iefix');
	src: url('../assets/fonts/6e7f8ec5-ab54-4a5f-bb89-ef815c6a6e14.eot?#iefix') format('eot'), url('../assets/fonts/02c8475b-c2f4-4c76-aefe-1fac761ce2f0.woff2') format('woff2'),
		url('../assets/fonts/1424678a-7c69-4221-ba01-30a5d88e631d.woff') format('woff'), url('../assets/fonts/2e195c47-57c9-413e-80a7-e89bc6357180.ttf') format('truetype');
	font-display: swap;
}

// Global text styles:x
