// Set up a decent box model on the root element
html {
	box-sizing: border-box;
}

html,
body {
	font-family: $font-din-next-regular;
	@include arabic() {
		font-family: $font-arabic-din-next-regular;
	}
	margin: 0;
	padding: 0;
	//	text-rendering: auto;
	//	text-rendering: optimizeSpeed;
	//  text-rendering: optimizeLegibility;
	//	text-rendering: geometricPrecision;
	//	text-rendering: auto;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

button:not(#searchClose:before) {
	outline: none;
}

html {
	font-size: $font-size;
	line-height: $line-height;
	overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: $media-breakpoint-sm) {
		overflow-y: scroll !important;
	}
}

html.tap-story {
	overflow-y: hidden;
}

body {
	color: $color-body;
	background-color: $color-bg;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow: hidden;
}

.noOverflowHidden {
	& body {
		overflow: visible;
	}
}

a {
	color: $color-link;
	text-decoration: none;

	@include on-event {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
	object-fit: contain;
	position: relative;
}

.gatsby-image-wrapper {
	background-color: $color-grey-3;
}

.visually-hidden {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

body.dark-mode {
	background-color: $color-dark-2;
	color: $color-white-alt;

	a {
		color: $color-white-alt;
	}
	.gatsby-image-wrapper {
		background-color: $color-dark-1;
	}
}
