@import 'eases';

$color-brand: #11362a !default;
$color-dark-1: #1c1f21;
$color-dark-2: #26292d;
$color-black: #000000;
$color-grey: #414141;
$color-grey-1: #646467;
$color-grey-2: #bebcbc;
$color-grey-3: #e9e9e9;
$color-grey-4: #afafaf;
$color-grey-5: #f2f2f2;
$color-grey-6: #9c9c9c;
$color-grey-7: #cac8c8;
$color-grey-8: #F4F4F4;
$color-sand: #f5f4f1;
$color-green: #124538;
$color-red: #e14524;
$color-orange: #FF671F;
$color-white: #ffffff;
$color-white-alt: #e7e8eb;
$color-black-alt: #26292e;
$color-white-1: #fafafa;
$color-white-2: #f2f2f0;
$color-yellow: #6BCDB2;
$color-light-grey: #F7F7F7;
$colorBgBlue: #F2F7FD;
$colorFontBlue: rgba(32, 85, 146, 0.6);
$colorActiveFontBlue: rgba(32, 85, 146, 1);
$coloDarkFontBlue: rgba(163, 203, 255, 0.6);
$colorDarkActiveFontBlue: rgba(163, 203, 255, 1);
$colorDarkBgBlue: #373842;
$colorBgPurple: #F4F1F9;
$colorFontPurple: rgba(66, 0, 147, 0.6);
$colorActiveFontPurple: #420093;
$colorDarkActiveFontPurple: #E1CDFE;
$colorDarkBgPurple: #403D4E;
$colorFontPurpleDark: rgba(211, 187, 255, 0.6);
$colorBgRed: #FAF0EB;
$colorFontRed: rgba(156, 30, 7, 0.6);
$colorActiveFontRed: rgba(156, 30, 7, 1);
$coloDarkFontRed: rgba(254, 199, 185, 0.6);
$colorDarkActiveFontRed: rgba(254, 199, 185, 1);
$colorDarkBgRed: #3D3839;
$colorDarkGreen: #165B55;
$colorMaroon: #89153D;
$colorRedOrange: #DE5829;
$colorPurple: #694FA1;
$color-button-blue: #384FA3;
$color-body: $color-black !default;
$color-bg: $color-white !default;
$color-heading: $color-black !default;
$color-link: $color-brand !default;
$colorBgOrange: #f6e2dd;
$colorFontOrange: #d05033;
$colorActiveFontOrange: #d05033;
$colorDarkBgOrange: #743a2d;
$coloDarkFontOrange: $color-white-alt;
$colorDarkActiveFontOrange: $color-white-alt;
$color-yellow-latest: #f9d667;
// Animation
$default-ease: $ease-in-out-custom;

// Font stack
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;

$font-din-next-light: 'DIN Next LT W01 Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif !default;
$font-din-next-regular: 'DIN Next LT W01 Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;
$font-din-next-italic: 'DIN Next LT W01 Italic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;
$font-din-next-medium: 'DIN Next LT W01 Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;

$font-arabic-din-next-light: 'DIN Next LT W23 Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;
$font-arabic-din-next-regular: 'DIN Next LT W23', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;
$font-arabic-din-next-medium: 'DIN Next LT W23 Medium_893519', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	Arial, sans-serif !default;

$font-pf-din-next-regular: 'PFDINSerif-Regular', Georgia, 'Times New Roman', Times, serif !default;
$font-pf-din-next-bold: 'PFDINSerif-Bold', Georgia, 'Times New Roman', Times, serif !default;
$font-edo: 'Edo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;
$font-arabic-dg-forsha: 'DG Forsha', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
	sans-serif !default;

// Media breakpoints
// (NOTE: Always use @media (min-width) when using these variables.)
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-menu-full: 1380px !default;
$media-breakpoint-xl: 1200px !default;
$media-breakpoint-xxl: 1480px !default;

// Dimensions for grid
$grid-max-width: 720px !default;
$grid-max-width-lg: 960px !default;
$grid-max-width-xl: 1140px !default;
$grid-max-width-xxl: 1400px !default;
$grid-container-padding: 1.5rem !default;

$max-page-width: 1680px;

// Font dimensions
$font-size: 16px !default;
$font-size-lg: 18px !default;
$line-height: 1 !default;
$line-height-heading: 1 !default;

// Elements
$header-height: 60px !default;

// Grid
$padding-xs: 15px;
$padding-md: 64px;
$padding-xl: 120px;
$padding-desktop: 240px;
$padding-desktop-max: 280px;

$grid-count-tablet: 12;
$grid-count-desktop: 6;

$grid-width-desktop: 240px;
