.wrapper {
}

.listWrapper {
	border-top: 1px solid $color-grey-3;
	list-style: none;
}

.listItem {
	border-bottom: 1px solid $color-grey-3;

	a {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;
		padding: 17px 0;
	}
}

.title {
	display: block;
	color: $color-black;
	width: calc(75% - 30px);
	padding-right: 10px;
	@include arabic() {
		padding-right: 0px;
		padding-left: 10px;
	}
	&:hover {
		text-decoration: underline;
	}
}

.fileSize {
	display: flex;
	flex-flow: row;
	color: $color-grey-1;
	width: 25%;
	min-width: 110px;
	justify-content: space-between;
	align-items: center;

	&:after {
		content: '';
		display: block;
		background: url('../../assets/svgs/icon_download.svg') no-repeat;
		width: 31px;
		height: 31px;
		pointer-events: none;
		user-select: none;
	}

	@include arabic() {
		flex-flow: row-reverse;
		direction: ltr;
	}
}

body:global(.dark-mode) {
	.listWrapper {
		border-top: 1px solid $color-grey-1;
	}
	.listItem {
		border-bottom: 1px solid $color-grey-1;
	}
	.title {
		color: $color-white;
	}
	.fileSize {
        color: $color-grey-2;
		&:after {
			background: url('../../assets/svgs/icon_download-yellow.svg') no-repeat;
		}
	}
}
