.wrapper {
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;

    @include arabic() {
        margin-right: unset;
        margin-left: 20px;
    }

    @media (max-width: $media-breakpoint-sm) {
        grid-column: span 2;
        margin-right: unset;

        @include arabic() {
            margin-left: unset;
        }
	}
} 