.wrapper {
	display: none;
	@media (min-width: $media-breakpoint-md) {
		display: block;
	}
	@include arabic() {
		margin-top: 2px;
	}
	margin-right: 15px;
	a {
		transition: color 0.2s;
	}
}

.wrapperInMenu {
	font-size: 14px;
	@media (min-width: $media-breakpoint-md) {
		display: none;
	}
    @media (max-width: $media-breakpoint-sm) {
		margin-top: 12px;
	}
}

:global(html.page-home) {
	.wrapper {
		a {
			color: $color-white;
		}
	}
}

:global(html.page-home) {
	:global(.menu-normal),
    :global(.bg-white),
	:global(body.search-open) {
		.wrapper {
			a {
				color: $color-green;
			}
		}
	}
}

:global(html.page-home) {
	:global(.dark-mode.menu-normal),
    :global(.dark-mode.bg-white),
	:global(body.search-open) {
		.wrapper {
			a {
				color: $color-white-alt;
			}
		}
	}
}

:global(html.hide-language-cta) {
	:local(.wrapper) {
		opacity: 0;
		visibility: hidden;
	}
}

:global(html.tap-story-lightUI) {
	.wrapper {
		a {
			color: $color-white;
		}
	}
}