name: Node.js CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
            node-version: [14.x]
    steps:  
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - uses: actions/checkout@v3
    - name: Cache NPM dependencies
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-npm-cache-

    - run: npm install
    - run: npm run build --if-present
    - run: npm test
  #Upload Artifact
    - name: Upload production-ready build files
      uses: actions/upload-artifact@v3
      with:
        name: production
        path: /home/runner/work/blob/blob
    - uses: edjufy/azure-blob-storage-upload@v1.3.0
      with:
        source_dir: '/home/runner/work/blob/blob/'
        container_name: '$web'
        connection_string: ${{ secrets.CONNECTION_STRING }}
        sync: true
